<! DOCTYPE html>
{% load url from future%}
{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="statics/js/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="statics/css/task002_4.css">
</head>
<body>
<div class='content'>
  <div class="search_box">
    <div class='logo'></div>
    <form class="search_form" action="">
      <input type="text" class="search_txt">
      <input type="button" class="search_btn">
    </form>
  </div>
  <div class="hint">
    <ul class="search_hint">
    </ul>
  </div>
 
  
</div>
<script type="text/javascript" src="statics/js/task002_4.js"></script>
</body>
</html>