{% extends 'base_site.html' %}
{% load staticfiles %}   
{% block content %}
{{ form.media }}
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'js/sliders.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
function del(aid) {

    //var r=confirm("确认要删除该内容?");
    if (confirm("确认要删除该内容?")){
        alert("ok,删了不后悔！");
        $.ajax({
        url:'{%url 'delete'%}',
        type: "GET",

        data: {"aid":aid},
        dataType:"html",
        success: function(data, dataStatus){

        alert("success!删除成功");
            //window.location.reload();
            if(confirm("想添加新文章吗？")){
                window.location.href = "{% url 'add' %}";
            }
            else{
                window.location.reload();
            }



    },
        error:function(msg){alert(msg)},
   });
    }

}
</script>

<link rel="stylesheet" type="text/css" href="/static/css/base.css">
<div class="article_head">
    <a href="{% url 'add'%}">Add A New Article</a>
</div>
    {% for contact in contacts %}
<div class="article">
    <div class="media">

           <!--<a href="javascript:void(0);" onclick="del({{contact.aid}})">X</a>-->
        <ul>
            <h3 >
                <a href="{% url 'view' %}?aid={{ contact.aid }}">{{ contact.title }}
            </a>
            <a href="javascript:void(0);" onclick="del({{contact.aid}})"> <span class="glyphicon glyphicon-remove f_r"></span></a>
        </h3>
            <p class="panel-body">{{ contact.content|safe|truncatechars:200}}</p>
        <p class="autor">
            <span class="lm f_l"><a href="/article/list">{{ contact.tag }}</a></span>
            <span class="lm f_l"><a href="/article/list"></a></span>
            <span  id='time' class="dtime f_l">{{ contact.publish_date }}</span>
            <span  class="viewnum f_r" >浏览（{{ contact.view_cnt }}）</span>
            <span class="pingl f_r"><a href="{% url 'view' %}?aid={{ contact.aid }}">评论</a></span>
        </p>
    </ul>
    </div>
</div>

{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% block footer %}

{% endblock %}

